<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address</title>
  </head>
  <body>
    <table style="width:100%">
 <tr>
   <th>City</th>
   <th>Street</th>
   <th>Postal Code</th>
   <th> Contacts Id </th>
   <th> Contacts Name </th>
 </tr>
 <% address.forEach(data => { %>
 <tr>
   <td><%= data.id%></td>
   <td><%= data.city%></td>
   <td><%= data.street%></td>
   <td><%= data.postal_code%></td>
   <td><%= data.contacts_id%></td>
   <td><%= data.contacts_name%></td>
   <td><a href="/address/editaddress/<%=data.id%>">edit</a></td>
   <td><a href="/address/delete/<%=data.id %>">delete</a></td>
 </tr>
 <% })%>
</table>
    <form action="/address" method="post">
      City :<br>
      <input type="text" name="city" placeholder="City">
      <br>
      Street :<br>
      <input type="text" name="street" placeholder="Street">
      <br>
      Postal Code :<br>
      <input type="text" name="postal_code" placeholder="Postal Code">
      <br>
      <br>
      <select  name="contacts_id" class="form-control">
          <option value="" disabled selected>select Contact</option>

          <% kontak.forEach(getData => { %>
            <option value="<%= getData.id %>"><%= getData.name %></option>
          <% }) %>
      </select>
      <br>
      <button type="submit" name="">submit</button>
    </form>
  </body>
</html>
