<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>Contact ID</th>
          <th>Name</th>
          <th>Company</th>
          <th>Street</th>
          <th>City</th>
          <th>Zip Code</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= adr.contact_id %></td>
            <td><%= adr.name %></td>
            <td><%= adr.company %></td>
            <td><%= adr.street %></td>
            <td><%= adr.city %></td>
            <td><%= adr.zip %></td>
          </tr>
      </tbody>
    </table>
  </body>
</html>
