<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Address</title>
  </head>
  <body>
    <h1>Edit Address</h1>
    <br>
    <br>
    <form action="/address/edit/<%= data.id %>" method="post">
      <fieldset>
      <input type="text" name="street" value="<%= data.street %>"><br>
      <input type="text" name="city" value="<%= data.city %>"><br>
      <input type="text" name="zip_code" value="<%= data.zip_code %>"><br>

      <select name="contact_id">
      <% dataContacts.forEach(z=> { %>
      <option value="<%= z.id %>"><%= z.name %></option>
      <% })%>
      </select>

      <button type="submit">Save</button>
      </fieldset>
    </form>
    <br>
    <a href="/address"><button type="link" name="button">cancel</button></a>
    <br>
  </body>
</html>
