<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Addresses</title>
  </head>
  <body>
    <h1>Edit Addresses</h1>
    <% let d = dataAddress %>
    <form action="/addresses/edit/<%= d.id %>" method="post">
      <input type="text" name="street" placeholder="Street" value="<%= d.street %>"><br>
      <input type="text" name="city" placeholder="City" value="<%= d.city %>"><br>
      <input type="text" name="zip_code" placeholder="Zip Code" value="<%= d.zip_code %>"><br>
      <select class="" name="contacts_id">
        <% let dC = dataContact %>
        <option value="<%=d.users_id%>"><%= dC.name %></option>
      </select><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
