<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include part/css %>
  </head>
  <body>
    <%- include part/menu %>

    <div class="col-md-8 col-md-offset-2">
      <form class="form-inline" action="/groups" method="post">
        <input type="text" name="name" placeholder="ex: Teman Kantor" class="form-control">
        <button type="submit" name="button" class="btn btn-info"><span class="glyphicon glyphicon-send"></span> &nbsp; Add New Groups</button>
      </form>
      <br>
      <table class="table table-hover">
        <tr class="info">
          <td class="text-center">No</td>
          <td class="text-center">Group ID</td>
          <td>Group Name </td>
          <td>Contact Name </td>
          <!-- <td>Company</td> -->
          <td class="text-center">Action</td>
        </tr>
        <% let i = 1; groupData.forEach(group => { %>
          <tr>
            <td class="text-center"><%= i++ %></td>
            <td class="text-center"><%= group.GrupId %></td>
            <td><%= group.group_name %></td>
            <td><ol>
                  <% group.contact_name.forEach(name => { %>
                    <li><%= name%></li>
                  <% }) %>
                </ol>
            </td>
            <!-- <td><%= group.company %></td> -->
            <td class="text-center">
              <a href="/groups/<%= group.GrupId %>/edit"><button type="button" name="button" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button></a>
              <a href="/groups/<%= group.GrupId %>/delete"><button type="button" name="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
              <a href="/groups/<%= group.GrupId %>/assign-contact"><button type="button" name="button" class="btn btn-success"><span class="glyphicon glyphicon-link"></span> Assign Contact</button></a>
            </td>
          </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
